<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form" autocomplete="on">
  <h2>Login</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" formControlName="email" name="username" autocomplete="username"
      required />
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
      Invalid email format
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" name="password"
      autocomplete="current-password" required />
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="loginForm.invalid">
    Login
  </button>

  <!-- <div class="actions">
    <a routerLink="/auth/forgot-password">Forgot Password?</a> |
    <a routerLink="/auth/register">Create Account</a>
  </div> -->
</form>