<mat-toolbar>
    <!-- <mat-toolbar color="primary"> -->
    <div class="header-logo">
        <button *ngIf="!layoutService.isSidebarOpen" mat-icon-button (click)="layoutService.toggleSidebar()"
            aria-label="Toggle Sidebar">
            <mat-icon>menu</mat-icon>
        </button>
        <span></span>
        <span>Aimployee</span>
    </div>
    <div class="header-nav">
        <!-- <button mat-button routerLink="/chat-bot">聊天机器人</button>
        <button mat-button routerLink="/user-manage">用户管理</button>
        <button mat-button routerLink="/accounting">财务相关</button> -->
    </div>
    <div class="header-empty-space">

        <button mat-button (click)="toggleTheme()">Toggle Theme</button>
        <button mat-button routerLink="/login">Login</button>
    </div>
</mat-toolbar>