.home-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 64px;
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex: 1; // take up remaining space after header
  overflow: hidden; // prevent scrollbars from appearing unnecessarily
  height: calc(100vh - 64px); // Remaining height after header
  box-sizing: border-box; // Include border in the total height and width
  border: 3px solid var(--border-color); // Example border
  border-radius: var(--border-radius-sm);
  margin-bottom: 5px;
}

.sidebar {
  width: 180px;
  flex-shrink: 0; // Prevent shrinking
  transition: transform 0.3s ease; // Smooth transition for hiding
}
.sidebar.hidden {
  transform: translateX(-100%); // Move sidebar out of view
  width: 0; // Set width to 0 when hidden
  visibility: hidden; // Ensure it's not interactable
}

.content-area {
  flex: 1;
  padding: 16px;
  overflow-y: auto; // scrollable content
  box-sizing: border-box;
}
