.main-layout {
  display: flex;
  height: calc(100vh - 100px); // Remaining height after header
  box-sizing: border-box; // Include border in the total height and width
  border: 3px solid var(--border-color); // Example border
  border-radius: var(--border-radius-sm);
  // margin: 8px;

  .sidebar {
    width: 180px;
    flex-shrink: 0; // Prevent shrinking
    transition: transform 0.3s ease; // Smooth transition for hiding
  }

  .sidebar.hidden {
    transform: translateX(-100%); // Move sidebar out of view
    width: 0; // Set width to 0 when hidden
    visibility: hidden; // Ensure it's not interactable
  }

  .sidebar.hidden + .content {
    flex: 0 0 100%; // Take up the full width when the sidebar is hidden
  }

  .content {
    display: flex;
    flex-direction: column; // Stack children vertically
    flex: 1; // Take up the remaining space
    overflow: hidden; // Prevent overflow
    box-sizing: border-box; // Include border in the total height and width
    border: 1px solid var(--border-color); // Example border
    border-radius: 8px;
    margin: 5px;
  }
  .content-header {
    height: 100px; // Fixed height for the header
    flex-shrink: 0; // Prevent shrinking
  }

  .content-body {
    flex: 1; // Take up the remaining space
    overflow-y: auto; // Enable scrolling for overflowing content
  }
}
