<nav class="sidebar">
    <!-- <button mat-icon-button (click)="layoutService.toggleSidebar()" aria-label="Toggle Sidebar">
        <mat-icon>menu</mat-icon>
    </button> -->
    <mat-nav-list>
        <mat-list-item>
            <a mat-line [routerLink]="'/new-flow'">New Flow</a>
        </mat-list-item>
        <mat-list-item>
            <a mat-line [routerLink]="'/knowledge-garden'">Knowledge Garden</a>
        </mat-list-item>
        <mat-list-item>
            <a mat-line [routerLink]="'/explore-more'">Explore More</a>
        </mat-list-item>
    </mat-nav-list>
</nav>
<!-- <div style="width: 100%; height"> </div> -->