@use './styles/themes/theme'; // Import the themes

:root {
  --text-color: black;
  --bg-color: white;
  --border-color: #e8e8e8; // Light mode border color
  --border-radius-sm: 8px; // Border radius for elements
  --border-radius-md: 12px; // Border radius for elements
}
.dark-theme {
  --text-color: white;
  --bg-color: #161616;
  --border-color: #212121; // Dark mode border color
  
}


body {
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0 8px;
}

// /* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }