<div class="container">
    <!-- Header -->
    <div class="header">
        <h2>Knowledge Garden</h2>
    </div>

    <!-- Cards Grid: Dynamically generated -->
    <div class="card-grid">
        <mat-card *ngFor="let knowledge of knowledgeData" class="card">
            <!-- <mat-card-title>{{ knowledge.fileName || 'Untitled' }}</mat-card-title> -->
            <mat-card-content>
                <!-- show title -->
                <p *ngIf="knowledge.fileName">
                    {{ knowledge.fileName || 'Untitled' }}
                </p>
                <!-- summary -->
                <p *ngIf="knowledge.summary">
                    {{ knowledge.summary }}
                </p>

                <!-- <p *ngIf="knowledge.fileSizeKb">Size: {{ knowledge.fileSizeKb }} KB</p> -->
                <p *ngIf="knowledge.createTime">Created: {{ knowledge.createTime | date:'medium' }}</p>
                <!-- <p *ngIf="knowledge.updateTime">Last Updated: {{ knowledge.updateTime | date:'medium' }}</p> -->
                <!-- <p *ngIf="Array.isArray(knowledge.tags)">Tags: {{ knowledge.tags.join(', ') }}</p> -->
                <!-- <p *ngIf="knowledge.type">Type: {{ knowledge.type }}</p> -->
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Pagination -->
    <div class="pagination-controls">
        <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[10]"
            (page)="onPageChange($event.pageIndex + 1)">
        </mat-paginator>
    </div>
</div>