// .dashboard-new-flow-container {
//   display: flex;
//   flex-direction: column;
//   width: 60%;
//   height: 100%;
//   margin: 0 auto; // Centers the container horizontally

// }

.layout {
  display: flex;
  height: calc(100% - 1rem); // Subtract the vertical margin (0.5rem top + 0.5rem bottom)
  border-radius: var(--border-radius-sm);
  border: 2px solid var(--border-color);
  margin: 0.5rem;
  box-sizing: border-box;
}

.top-section {
  height: 15%;
}
.bottom-section {
  height: 30%;
  margin-bottom: 1rem;
}

.middle-section {
  flex: 1; // Takes up the remaining space
  margin: 2rem 0;
}
