<div class="layout">

    <!-- The following is an component that is used to display a hero section in the dashboard
      -->
    <!-- <app-dashboard-hero-section class="top-section"
        [slogans]="['Innovation redefined']"
        [header]="'Good afternoon'" 
        [containerStyle]="{ 'align-items': 'start', 'justify-content': 'flex-end' }">    
    </app-dashboard-hero-section> -->




    <!-- The following is an component that is used to display a chat section in the dashboard
      -->
    <app-new-flow-chat class="middle-section"></app-new-flow-chat>

    <!-- The following is an component that is used to display a bottom section in the dashboard, will use knowledge garden in the future
      -->
    <!-- <app-knowledge-overview class="bottom-section"></app-knowledge-overview> -->
</div>